# we build the node modules when we run npm install
# never copy node_modules into container because some node_module dependencies are built binary by binary into a compatible format for the architecture ie: node-gyp
node_modules